.wrapper{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

.control{
  width: 300px;
  flex-shrink: 0;
}

.control > div{
  margin-bottom: 10px;
}

.container{
  border: 1px solid salmon;
  width: 500px;
  height: 500px;
}


/* Chrome, Safari, Edge, Opera */
.container-controls input::-webkit-outer-spin-button,
.container-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container-controls input[type=number] {
  -moz-appearance: textfield;
}


textarea{
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  height: 60px;
  resize: vertical;
}

.sliderPlugin1,
.sliderPlugin2,
.sliderPlugin3,
.sliderPlugin4,
.sliderPlugin5,
.sliderPlugin6{
  box-sizing: border-box;
  padding: 70px;
  height: 100%;
  width: 100%;
}