.wrapper{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.control{
  width: 300px;
  flex-shrink: 0;
}

.control > div{
  margin-bottom: 10px;
}

.container{
  border: 1px solid salmon;
  width: 100%;
  height: inherit;
}
textarea{
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  height: 160px;
  resize: none;
}

.sliderPlugin1,
.sliderPlugin2,
.sliderPlugin3,
.sliderPlugin4,
.sliderPlugin5,
.sliderPlugin6{
  box-sizing: border-box;
  padding: 50px 30px 50px 30px;
  height: 100%;
  width: 100%;
}