$height: 20px;
$control-size: 36px;
$info-width: 30px;
$info-height: $info-width - 10px;
$arrow-size: 3px;
$horizontal-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$vertical-gradient: linear-gradient(90deg, #6FCF97 0%, #66D2EA 100%);

.sp-skin--fine-tune-circle.slider {
  user-select: none;
  box-sizing: border-box;
  & *{
    box-sizing: border-box;
  }

  position: relative;
  background-color: #e5ecf3;
  width: 100% !important;
  height: $height;
  border-radius: 4px;
  cursor: pointer;

  & .progress{
    // do not touch
    width: 100%;
    height: 100%;
    border-radius: $height;
    position: absolute;
    z-index: 1;
    // ------
    background: #879bb1;
  }

  & .slider__control {
    position: absolute;
    top: $height / 2;
    transform: translateY(-50%);
    width: $control-size;
    height: $control-size;
    border-radius: 50%;
    border: 2px solid #0a2038;
    background: #fff;
    z-index: 10;

    &.hover {
      &:hover .slider__control-info{
        display: flex;
      }
    }
    &.always {
      .slider__control-info{
        display: flex;
      }
    }
    &.never {
      .slider__control-info{
        display: none;
      }
    }
  }

  & .slider__control-info{
    position: absolute;
    top: -$arrow-size - 2px;
    left: 50%;
    transform: translate(-50%, -100%);
    background: transparent;
    width: auto;
    min-width: $control-size;
    max-width: 600px;
    padding: 10px 6px;
    transition: max-width 300ms;
    height: $info-height;
    border-radius: 4px;

    color: #060e23;
    border: none;
    font-size: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    
    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: $info-height;
      left: 50%;
      transform: translateX(-50%);
      width: 0; 
      height: 0; 
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-top: $arrow-size solid transparent;
    }
  }
  

  &.vertical{
    width: $height !important;
    height: 100%;

    .progress{
    }

    .slider__control {
      left: $height / 2;
      transform: translateX(-50%);
    }

    .slider__control-info{
      top: 50%;
      transform: translate(-100%, -50%);
      left: -$arrow-size - 2px;
      
      &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        width: 0; 
        height: 0; 
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
      }
    }
  }

  

  & .scale{
    position: absolute;
    width: 100%;
    height: $height;
    left: 6px;
    top: 50%;
    transform: translateY(50%);

    &.vertical{
      width: $height;
      height: 100%;
      top: 5px;
      left: 50%;
      transform: translateX(50%);
      .scale__el{
        transform: rotate(-90deg) translateY(2px) translateX(-5px);

        &.selected{
          transform: rotate(-90deg) translateY(6px);
        }
      }
    }

    &__el{
      font-size: 12px;
      color: rgba(31, 32, 65, 0.5);
      position: absolute;
      min-width: 12px;
      width: 12px;
      max-width: 12px;
      transform: translateX(5px);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: .35s ease-out;

      &.selected{
        color: #0a2038;
        font-weight: bold;

        & .scale__line{
          background-color: #0a2038;
          height: 12px;
        }
      }

      &.hidden{
        display: none;
      }
      
      & .scale__line{
        transition: .35s ease-out;
        width: 1px;
        height: 3px;
        background-color: rgba(31, 32, 65, 0.5);
      }
    }
  }

}